.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  .date {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
    justify-content: center;


    .day-of-week {
      margin: 0;
      padding: 5%;
      color: white;
      background: rgb(167, 64, 64);
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }

    .day-month {
      display: flex;
      flex-direction: column;
      height: 25vh;
      align-items: center;
      justify-content: center;
      background-color: white;

      .day,
      .month {
        margin: 0;
        font-weight: 800;
        font-size: 2rem;
        color: grey;
      }
    }

    .year {
      margin: 0;
      padding: 5%;
      align-items: center;
      justify-content: center;
      color: white;
      background: rgb(167, 64, 64);
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }

  .time {
    margin-left: 5%;
    font-size: 2.5rem;
  }
}
